<?xml version="1.0"?>

<model>
  <name>OwnRobot</name>
  <version>1.0</version>
  <sdf version="1.5">ownrobot.sdf</sdf>

  <author>
    <name>Sebastian Goetz</name>
    <email>sebastian.goetz@acm.org</email>
  </author>

  <description>
    Own Robot based on Fortress Tutorial
  </description>
</model>
